* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9f0;
    text-decoration: none;
  }
  body.dark-mode {
    background-color: #121212;
    /* color: black; */
  }
    body.dark-mode .container {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(6, 200, 244, 0.188);
}
body.dark-mode li {
    box-shadow: 0 0 10px rgba(6, 200, 244, 0.1); 
    border: 0.04em solid rgba(255, 255, 255, 0.456);
}
body.dark-mode button, input {
    /* border: 0.04em solid rgba(255, 255, 255, 0.456); */
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(248, 249, 249, 0.17); 
}
body.dark-mode button:hover {
        /* border: 0.04em solid rgba(255, 255, 255, 0.456); */
        background-color: rgba(167, 175, 188, 0.33);
        color: white;
    }


   .container {
    max-width: 100%;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    object-fit: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

   button {
    padding: 10px 40px;
    text-align: center;
    background-color: blueviolet;
    border: none;
    border-radius: 21px;
    color: white;
    transition: 0.3s ease;
    margin: 10px;
  }
  button:hover {
    background-color: rgb(121, 10, 125);
    cursor: pointer;
    transform: scale(1.1);
  }
    ul {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px 0;
    transition: 0.3s ease;
  }
  li:hover {
    background-color: rgba(0, 0, 0, 0.084);
  }

  input {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid blue;
    border-radius: 8px;
  }
  input:focus {
    background-color: black;
    color: white;
    border: 2px solid yellow;
  }

  .completed {
  text-decoration: line-through;
  color: gray;
}